<!-- Header -->
<div class="toolbar" role="banner">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="icon icon-tabler icon-tabler-calculator"
    width="40"
    height="40"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="#ffffff"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
    <rect x="4" y="3" width="16" height="18" rx="2" />
    <rect x="8" y="7" width="8" height="3" rx="1" />
    <line x1="8" y1="14" x2="8" y2="14.01" />
    <line x1="12" y1="14" x2="12" y2="14.01" />
    <line x1="16" y1="14" x2="16" y2="14.01" />
    <line x1="8" y1="17" x2="8" y2="17.01" />
    <line x1="12" y1="17" x2="12" y2="17.01" />
    <line x1="16" y1="17" x2="16" y2="17.01" />
  </svg>
  <span>CALCULADORA</span>
</div>

<div class="logo">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="icon icon-tabler icon-tabler-math-symbols"
    width="120"
    height="120"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="#1976d2"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
    <line x1="3" y1="12" x2="21" y2="12" />
    <line x1="12" y1="3" x2="12" y2="21" />
    <line x1="16.5" y1="4.5" x2="19.5" y2="7.5" />
    <line x1="19.5" y1="4.5" x2="16.5" y2="7.5" />
    <line x1="6" y1="4" x2="6" y2="8" />
    <line x1="4" y1="6" x2="8" y2="6" />
    <line x1="18" y1="16" x2="18.01" y2="16" />
    <line x1="18" y1="20" x2="18.01" y2="20" />
    <line x1="4" y1="18" x2="8" y2="18" />
  </svg>
</div>

<div class="operandos">
  <p>Ingrese los operandos para realizar la operación</p>
  <div class="operandos-inputs">
    <input type="number" step=".1" required value="1" [(ngModel)]="num1">
    <input type="number" step=".1" required value="1" [(ngModel)]="num2">
  </div>
  <div class="botones">
    <button (click)="sumar()">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="#1976d2" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <line x1="12" y1="5" x2="12" y2="19" />
        <line x1="5" y1="12" x2="19" y2="12" />
      </svg>
    </button>
    <button (click)="restar()">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-minus" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="#1976d2" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <line x1="5" y1="12" x2="19" y2="12" />
      </svg>
    </button>
    <button (click)="multiplicar()">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="#1976d2" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <line x1="18" y1="6" x2="6" y2="18" />
        <line x1="6" y1="6" x2="18" y2="18" />
      </svg>
    </button>
    <button (click)="dividir()">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-divide" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="#1976d2" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <circle fill="currentColor" cx="12" cy="6" r="1" />
        <circle fill="currentColor" cx="12" cy="18" r="1" />
        <line x1="5" y1="12" x2="19" y2="12" />
      </svg>
    </button>
  </div>

  <div class="resultado">
    <p>El resultado es:</p>
    <input disabled [(ngModel)]="resultado">
  </div>

</div>
